<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appium.WebDriver" version="2.0.0.1" targetFramework="net452" />
  <package id="Castle.Core" version="4.0.0-beta001" targetFramework="net452" />
  <package id="EPPlus" version="4.1.0" targetFramework="net452" />
  <package id="ExcelDataReader" version="2.1.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NUnit" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Console" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Engine" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Engine.Tool" version="3.4.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.1" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.4.1" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.4.1" targetFramework="net452" />
  <package id="Selenium.Support" version="3.0.0-beta1" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.0.0-beta1" targetFramework="net452" />
  <package id="Selenium.WebDriver.Extensions" version="2.0.0" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="SpecFlow" version="2.1.0" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="2.1.0" targetFramework="net452" />
</packages>